@import "mixins";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { margin: $margin; }

.list > li { 
    list-style-type: $none;
    &:first-child { color: #57A4A4; }
}

.header {
    width: $width;
    margin: $margin;
}

.list {
    @include flex;
    justify-content: space-around;
    font-size: 11px;
    margin: $pd auto;
    width: 60vw;
    padding: 0;
}

.image { width: $width; }

.main {
    margin: $pd auto 0 auto;
    width: $width;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 25px;
}

.container__item { @include flex; }

.wrapper { max-width: 420px; }

.wrapper > h3 { font-family: $font; font-weight: 400;}

.wrapper > p:not(p:first-child) {font-family: $font; font-weight: 300;}

.para-left, .para-right, .article {color: #4E4E4E}

.item__img {
    padding-right: 12px;
    width: 160px;
    height: 140px;
}

.shots {
    width: $width;
    margin: $margin;
    &__section {
    background-color: snow;
    margin-top: 70px;
    padding-bottom: 50px;
    }
}

.text {
    @include flex;
    justify-content: space-between;
    margin: $margin;
    padding-top: $pd;
}
.text > *, .footer > h3 {
    font-weight: 800;
    font-size: 15px;
}
.images__container {
    @include flex;
    justify-content: space-between;
    width: $width;
    margin-top: 30px;
    & > img {
        max-width: 275px;
    }
}

.footer {
    display: $display;
    flex-direction: column;
    justify-content: $sp;
    align-items: center;
    margin: $margin;
    padding-bottom: $pd;
    background-color: black;
    width: 70vw;
    &__container {
        text-align: center;
        background-color: black;
    }
    & > * { color: white; }
    & > p, &__para { line-height: 26px; }
    & > h3 { padding-top: 30px; }
    &__para {@include flex();}
}

.logo {
    &-1 { @include round(); border: 2px solid #F8902E; }
    &-2 { @include round(); border: 2px solid #39599F; }
    &-3 { @include round(); border: 2px solid #45B0E3; }
    &-4 { @include round(); border: 2px solid #D97AB0; }
    &-5 { @include round(); border: 2px solid #CC212C; }
}

@media only screen and (max-width: 1199px) {
    .container {
        display: $display;
        flex-direction: column;
    }
    .images__container > img:nth-child(4) { display: $none; }
    .images__container > img { width: 29vw;}
}

@media only screen and (max-width: 767px){

    .list { width: 85vw; font-size: 8px; }
    .para-right { display: $none; }

    .menu {
        width: 44px;
        height: 38px;
        display: $display;
        flex-direction: column;
        align-items: center;
        background-color: black;
        &__container {
            @include flex();
            justify-content: flex-end;
            margin: 25px auto;
            position: $position;
            width: $width;
        }
    }
    .line {
        background-color: white;
        height: 3px;
        width: 17px;
        margin: 2px auto;
        &:first-child { margin-top: 10px; }
    }
    .list {
        flex-direction: column;
        justify-content: $sp;
        width: 166px;
        height: 140px;
        position: absolute;
        top: 57px;
        right: 3.4vw;
        font-size: 9px;
    }
    .remove { display: $none; }
    .rotate {
        position: $position;
        transform: rotate(45deg);
        top: 7px;
        height: 1px;
        width: 20px;
        &-reverse {
            transform: rotate(135deg);
            height: 1px;
            width: 20px;
            position: $position;
            top: 2px;
        }
    }
    .list > li {
        background-color: #F5F5F5;
        padding: 10px 8px;
        &:hover { background-color: #E5E5E5; }
    }
    
    .images__container > img:not(img:first-child){ display: $none; }
    .para-right, .wrapper > p:nth-child(3){ display: $none; }
    .wrapper > p:nth-child(3) { padding-right: 3px; }

    .images__container > img:first-child {
        width: 300px;
        margin: $margin;
    }
    .container__item, .wrapper {
        flex-direction: column;
        height: auto;
    }
}

@media only screen and (max-width: 320px){
    .footer {
        & > h3, & > p { font-size: 11px; }
        & > p { font-weight: 300; } 
        width: $width;
        height: 300px;
        &__para {flex-direction: column; height: 100px; margin-top: 20px;}
        &__para > p { margin: $margin; }
    }
}